@font-face {
  font-family: 'FuturaMedium';
  src: url('assets/fonts/FuturaPT-Medium/FuturaPT-Medium/FuturaPT-Medium.eot') format('eot'),
       url('assets/fonts/FuturaPT-Medium/FuturaPT-Medium/FuturaPT-Medium.ttf') format('ttf'),
       url('assets/fonts/FuturaPT-Medium/FuturaPT-Medium/FuturaPT-Medium.woff') format('woff');
}

@font-face {
  font-family: 'FuturaBook';
  src: url('assets/fonts/FuturaPT-Book/FuturaPT-Book/FuturaPT-Book.eot') format('eot'),
       url('assets/fonts/FuturaPT-Book/FuturaPT-Book/FuturaPT-Book.ttf') format('ttf'),
       url('assets/fonts/FuturaPT-Book/FuturaPT-Book/FuturaPT-Book.woff') format('woff');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('assets/fonts/FuturaPT-Light/FuturaPT-Light/FuturaPT-Light.eot') format('eot'),
       url('assets/fonts/FuturaPT-Light/FuturaPT-Light/FuturaPT-Light.ttf') format('ttf'),
       url('assets/fonts/FuturaPT-Light/FuturaPT-Light/FuturaPT-Light.woff') format('woff');
}