<div class="app-container-main">

    <app-wallpaper [imagePath]="imagePath" [imageStyle]="styleImageChanged"></app-wallpaper>
    <app-clip-path (clickedPath)="changeImage()"></app-clip-path>

    <div class="app-header">
        <div class="app-header__wrapper">
            <div class="app-header__logo">

            </div>
            <div class="app-header__menu">

                <ul class="app-header__menu-items">
                    <li class="app-header__menu-item">
                        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
                    </li>
                    <li class="app-header__menu-item">
                        <a routerLink="/practice-areas" routerLinkActive="active">Practice Areas</a>
                    </li>
                    <li class="app-header__menu-item">
                        <a routerLink="/attorneys" routerLinkActive="active">Attorneys</a>
                    </li>
                    <li class="app-header__menu-item">
                        <a routerLink="/resource-center" routerLinkActive="active">Resource Center</a>
                    </li>
                    <li class="app-header__menu-item">
                        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <app-description></app-description>
    <app-slider></app-slider>

    <div class="app-body">
        <div class="app-body__wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="app-footer">
        <div class="app-footer__wrapper">

        </div>
    </div>

</div>

